html {
font-size: 20px;
}

body {
    width: 100%;
    height: 100%;
}

.section {
    width: 1000px;
    border: 1px solid red;

    font-size: 20px;
}

.square {
    /*font-size: 10px;*/
    background-color: rgba(144, 215, 236, 0.6);


    /*width: 10em;*/
    /*height: 20rem;*/


    width: 100vw;
    height: 50vh;
}

/*
есть размеры в пикселях есть rem - em - vw vh

rem - это от родительского элемента *10

em - это от тега html и тоже *10

а вот vw - vh это ширина и высота видимой части экрана и соответственно размер
*/