* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myContainer {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.section1 {
    height: 100vh;
    background-color: #8faeaf;
}

.wrap {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.text-wrap, image {
    max-width: 500px;
    width: 100%;
}

@media screen and (max-width: 1140px) {
    .myContainer {
        padding: 0 15px;
    }
}