* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8faeaf;
}

.box {
    width: 450px;
    border: 3px solid rgb(255, 255, 255);
    background-color: #eaaa0b;
}

p {
    color: rgba(30, 67, 213, 0.87);
    text-align: left;
    text-decoration: dotted line-through;
    text-transform: none;
    text-indent: 12rem;
    line-height: 1.2;
    word-spacing: normal;
    letter-spacing: normal;
    word-break: break-all;
}

a {
    text-decoration: none;
}